###################################
# Unity Client (Client/)
###################################
Client/.utmp/
Client/[Ll]ibrary/
Client/[Tt]emp/
Client/[Oo]bj/
Client/[Bb]uild/
Client/[Bb]uilds/
Client/[Ll]ogs/
Client/[Uu]ser[Ss]ettings/
Client/[Mm]emoryCaptures/
Client/[Rr]ecordings/
Client/ExportedObj/
Client/.consulo/
Client/sysinfo.txt
Client/mono_crash.*
Client/crashlytics-build.properties
Client/InitTestScene*.unity*
Client/ServerData
Client/[Aa]ssets/StreamingAssets/aa*
Client/[Aa]ssets/AddressableAssetsData/link.xml*
Client/[Aa]ssets/Addressables_Temp*
Client/[Aa]ssets/AddressableAssetsData/*/*.bin*
Client/[Aa]ssets/Unity.VisualScripting.Generated/
Client/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
Client/[Aa]ssets/Plugins/Editor/JetBrains*
# Protobuf DLL (make proto-deps 로 생성)
Client/Assets/Plugins/Google.Protobuf.dll
Client/Assets/Plugins/Google.Protobuf.dll.meta

###################################
# .NET Server (Server/)
###################################
Server/**/bin/
Server/**/obj/
Server/**/.vs/
Server/**/*.user

###################################
# Global
###################################
# Logs
*.log

# Blender
*.blend1
*.blend1.meta

# Build outputs
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# IDE / Editor
.vs/
.gradle/
*.DotSettings.user
*.suo
*.user
*.userprefs

# Debug symbols
*.pdb
*.mdb
*.pidb
*.opendb
*.VC.db
*.svd
*.booproj
*.tmp

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Mono
mono_crash.*
